body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #111;
    color: #fff;
}

/* HEADER */
header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #e67e22;
}

/* HERO */
.hero {
    background: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5") center/cover no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
    background: rgba(0,0,0,0.6);
    padding: 20px 40px;
    border-radius: 15px;
}

/* SECTIONS */
section {
    padding: 60px 10%;
}

/* MENU CARDS */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #222;
}

/* BUTTON */
button {
    background: #e67e22;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

button:hover {
    background: #cf711f;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background: #000;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    color: #aaa;
}
